<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div
      class="row d-flex justify-content-center align-items-center h-100 my-auto"
    >
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card bg-dark text-white shadow-lg p-3 mb-5"
          style="border-radius: 1rem 4.5rem;"
        >
          <div class="card-body p-5 text-center">

            <div class="mb-md-0 mt-md-4 pb-5">
              <form action="/submit" method="POST" id="login-form">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-4">Please enter your login and
                  password!</p>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Username</label>
                  <input
                    type="text"
                    name="username"
                    id="typeEmailX"
                    class="form-control form-control-lg"
                    placeholder="Username"
                  />

                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX">Password</label>
                  <input
                    type="password"
                    name="pass"
                    id="typePasswordX"
                    class="form-control form-control-lg"
                    placeholder="Password"
                  />

                </div>

                <button
                  class="btn btn-outline-light btn-lg px-5"
                  type="submit"
                >Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
=======
<section class="gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 my-auto">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card bg-dark text-white shadow-lg p-3 mb-5"
          style="border-radius: 1rem 4.5rem;"
        >
          <div class="card-body p-5 text-center">

            <div class="mb-md-0 mt-md-4 pb-5">
              <form action="/submit" id="login-form" method="POST">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-4">Please enter your login and
                  password!</p>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Username</label>
                  <input
                    type="text"
                    name="username"
                    id="typeEmailX"
                    class="form-control form-control-lg"
                    placeholder="Username"
                  />

                </div>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX">Password</label>
                  <input
                    type="password"
                    name="pass"
                    id="typePasswordX"
                    class="form-control form-control-lg"
                    placeholder="Password"
                  />

                </div>

                <button
                  class="btn btn-outline-light btn-lg px-5"
                  type="submit"
                >Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
>>>>>>> 54750d8d20f57af33307ee40f4a48f2c5ecfe68f
</section>
